.form-container {
  margin-top: 50px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
  }
}

.form-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  input {
    height: 30px;
    font-size: 18px;
    width: 100%;
  }
}

button {
  width: 60%;
  height: 50px;
  margin-top: 20px;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: grey;
    color: white;
  }
}
