<div class="tool">
  <div class="delete-tool" *ngIf="deleteConfirm">
    <p>Confirmer la suppression de "{{ tool.title }}" ?</p>
    <div class="buttons-delete">
      <div><mat-icon (click)="deleteConfirm = false">close</mat-icon></div>
      <div><mat-icon (click)="deleteConfirmed(tool._id)">done</mat-icon></div>
    </div>
  </div>
  <a href="{{ tool.url }}" target="_blank" class="title">{{ tool.title }}</a>
  <p class="description">{{ tool.description }}</p>
  <div class="buttons-container">
    <div class="buttons-edit">
      <div
        class="delete-button"
        (click)="onClickDelete()"
        *ngIf="authService.userConnected()"
      >
        <mat-icon>delete</mat-icon>
      </div>
      <div
        class="modify-button"
        (click)="onClickEdit(tool._id)"
        *ngIf="authService.userConnected()"
      >
        <mat-icon>edit</mat-icon>
      </div>
    </div>
    <a href="{{ tool.url }}" target="_blank" class="link"
      ><mat-icon>arrow_forward</mat-icon></a
    >
  </div>
</div>
