<div class="global-container">
  <h1 class="add-title">Ajout d'un outil</h1>
  <div class="button-home">
    <div (click)="onClickHome()">Retour</div>
  </div>
  <div class="form-container">
    <form [formGroup]="toolForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          id="title"
          type="text"
          formControlName="title"
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          type="text"
          formControlName="description"
          rows="3"
          autocomplete="off"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="url">URL de l'outil</label>
        <input id="url" type="text" formControlName="url" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="labels">Étiquettes</label>
        <input
          id="labels"
          type="text"
          formControlName="labels"
          (input)="getLabelsArray()"
          (keyup.enter)="getLabelsArrayEnter()"
          value="{{ toolForm.value.labels }}"
          autocomplete="off"
        />
      </div>
      <div class="labels-container">
        <div class="label" *ngFor="let label of arrayLabels">
          <p>{{ label }}</p>
          <mat-icon class="delete-label" (click)="deleteLabel(label)"
            >close</mat-icon
          >
        </div>
      </div>
      <div class="action-buttons">
        <button (click)="onSubmitForm()">Ajouter</button>
      </div>
      <p class="error" *ngIf="errorMessage">Cet outil existe déjà !</p>
    </form>
  </div>

  <div class="tool-container" *ngIf="(toolPreview$ | async)?.title">
    <div class="tool">
      <p class="title">{{ (toolPreview$ | async)?.title }}</p>
      <p class="description">{{ (toolPreview$ | async)?.description }}</p>
      <div class="buttons-container" *ngIf="(toolPreview$ | async)?.url">
        <a href="{{ (toolPreview$ | async)?.url }}" target="_blank" class="link"
          ><mat-icon>arrow_forward</mat-icon></a
        >
      </div>
    </div>
  </div>
</div>
