<div class="global-container">
  <div
    class="button-add"
    (click)="onClickAdd()"
    *ngIf="authService.userConnected()"
  >
    <mat-icon>add</mat-icon>
  </div>
  <input
    type="text"
    class="search"
    [(ngModel)]="search"
    (input)="filterData(search)"
    placeholder="Rechercher un outil..."
  />
  <h2 class="site-title">
    TOOLBOX : une banque d'outils évolutive pour de multiples besoins !
  </h2>
  <div class="tools">
    <app-tool
      [tool]="tool"
      class="tool-container"
      *ngFor="let tool of filteredData"
      (delete)="refreshTools()"
    ></app-tool>
    <div *ngIf="!filteredData.length && !isLoading" class="no-result">
      Aucun résultat
    </div>
    <span class="loader" *ngIf="isLoading"></span>
  </div>
</div>
