<div
  class="modal-container"
  [class.centered-modal]="showModal"
  *ngIf="showModal"
  (click)="onClickCloseModal()"
>
  <div class="modal" (click)="onClickModal($event)">
    <div (click)="onClickCloseModal()" class="closeModal">
      <mat-icon>close</mat-icon>
    </div>
    <p>Tu as un outil à partager ? Soumets-le-moi !</p>
    <input
      type="text"
      [(ngModel)]="toolRequest"
      placeholder="Titre de l'outil"
      maxlength="50"
    />
    <div class="antispam">
      <span>Antispam - Résultat de l'addition :</span
      ><span> {{ antispam[0] }} + {{ antispam[1] }} = </span>
      <input type="number" min="0" max="18" [(ngModel)]="resultAntispam" />
      <p *ngIf="errorAntispam">Le résultat de l'addition n'est pas juste !</p>
    </div>
    <div class="action-buttons" *ngIf="!isLoadingRequest">
      <div [ngClass]="{ disable: !toolRequest }" (click)="onClickSubmitTool()">
        Soumettre l'outil
      </div>
    </div>
    <div *ngIf="isLoadingRequest && !message"><p>Envoi en cours...</p></div>
    <div *ngIf="message">
      <p>{{ message }}</p>
    </div>
  </div>
</div>
<div class="global-container">
  <mat-icon
    class="exit"
    *ngIf="authService.userConnected()"
    (click)="onClickExit()"
    >exit_to_app</mat-icon
  >
  <div class="buttons-add-shared-container">
    <div
      class="button-add"
      (click)="onClickAdd()"
      *ngIf="authService.userConnected()"
    >
      <mat-icon>add</mat-icon>
    </div>
    <div
      class="button-tools-shared"
      (click)="onClickToolsShared()"
      *ngIf="authService.userConnected()"
    >
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <app-theme-selection
    style="width: 100%; display: flex; justify-content: center"
  ></app-theme-selection>
  <input
    type="text"
    class="search"
    [(ngModel)]="search"
    (input)="filterData(search)"
    placeholder="Rechercher un outil..."
  />
  <h2 class="site-title">
    TOOLBOX : une banque d'outils évolutive pour de multiples besoins !
  </h2>
  <p (click)="onClickToolRequest()" class="tool-link-modal">
    J'ai un outil à partager !
  </p>
  <div class="tools">
    <app-tool
      [tool]="tool"
      class="tool-container"
      *ngFor="let tool of filteredData"
      (delete)="refreshTools()"
    ></app-tool>
    <div *ngIf="!filteredData.length && !isLoading" class="no-result">
      Aucun résultat
    </div>
    <span class="loader" *ngIf="isLoading"></span>
  </div>
</div>
