<div class="global-container">
  <div
    class="button-add"
    (click)="onClickAdd()"
    *ngIf="authService.userConnected()"
  >
    <mat-icon>add</mat-icon>
  </div>
  <input
    type="text"
    class="search"
    [(ngModel)]="search"
    (input)="filterData()"
    placeholder="Recherche"
  />
  <div class="tools">
    <app-tool
      [tool]="tool"
      class="tool-container"
      *ngFor="let tool of toolsService.filteredData"
    ></app-tool>
    <div *ngIf="!toolsService.filteredData.length" class="no-result">
      Aucun résultat
    </div>
  </div>
</div>
